<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">

    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%5level [%t] - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- 级别包括: debug, info, warn, error, fatal -->

        <!-- 只有这个包下的日志才会被打印 -->
        <Logger name="com.feng.mapper" level="debug"/>
        <!-- Root 是所有日志的根节点 -->
        <Root level="error">
            <!-- stdout 是输出到控制台 -->
            <AppenderRef ref="stdout"/>
        </Root>
    </Loggers>

</Configuration>
