<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 核心配置文件 -->

    <properties resource="db.properties">
    </properties>

    <!-- 顺序不能变!!!! -->
    <settings>
        <!-- 打印 sql 语句 -->
        <!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <!-- LOG4J2 -->
        <setting name="logImpl" value="LOG4J2"/>
        <!-- 开启驼峰命名 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 开启二级缓存 -->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!-- 设置别名 -->
    <typeAliases>
        <!-- 给每个实体类设置别名, 如果实体类很多, 需要一个一个写, 麻烦 -->
        <!-- type: 指定别名的类型 -->
        <!-- alias: 指定别名 -->
        <!--        <typeAlias type="com.feng.model.User" alias="User"/>-->
        <!-- 使用包扫描, 自动扫描包下的所有类, 给每个类设置别名 -->
        <package name="com.feng.model"/>
    </typeAliases>

    <plugins>
        <!-- 分页插件 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 以下配置都是默认值, 可以不写 -->
            <!-- 指定数据库类型 -->
            <property name="helperDialect" value="mysql"/>
            <!-- 是否将参数转换为 PageRowBounds -->
            <property name="rowBoundsWithCount" value="true"/>
            <!-- 是否分页合理化 -->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>

    <!-- 环境配置 -->
    <!-- default 来确定是使用哪个环境 -->
    <environments default="development">
        <environment id="development">
            <!-- 事务管理器 -->
            <transactionManager type="JDBC"/>
            <!-- 数据源: 连接池 -->
            <!-- 避免了每次都创建连接, 提高了效率 -->
            <!--            <dataSource type="POOLED">-->
            <!-- 使用 druid -->
            <dataSource type="com.feng.util.MyDruidDataSourceFactory">
                <!-- 使用 druid 的数据库配置, 和原来的不一样 -->
                <!--                <property name="driver" value="${jdbc.driver}"/>-->
                <property name="driverClass" value="${jdbc.driver}"/>
                <!--                <property name="url" value="${jdbc.url}"/>-->
                <property name="jdbcUrl" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>

                <!-- 初始化连接大小 -->
                <property name="initialSize" value="${jdbc.initialSize}"/>
                <!-- 最小空闲连接 -->
                <property name="minIdle" value="${jdbc.minIdle}"/>
                <!-- 最大连接数 -->
                <property name="maxActive" value="${jdbc.maxActive}"/>
                <!-- 获取连接等待超时的时间 -->
                <property name="maxWait" value="${jdbc.maxWait}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 映射器 -->
    <mappers>
        <!-- 加载映射文件 -->
        <!-- 开头不能加 / -->
        <!--        <mapper resource="UserMapper.xml"/>-->
        <!-- 使用包扫描, 自动扫描包下的所有映射文件, 推荐使用 -->
        <package name="com.feng.mapper"/>
    </mappers>
</configuration>
